html,
body {
    overflow: hidden;
}

.clock {
    width: 640px;
    height: 640px;
    background-image: url(clock.png);
    background-size: contain;
    position: fixed;
    right: -300px;
    top: calc(50% - 320px);
    animation: clock 12s linear infinite;
    border-radius: 100%;
}

.rectangle {
    width: 200px;
    height: fit-content;
    position: fixed;
    background-color: black;
    right: 220px;
    top:calc(50% - 40px);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
}

@keyframes clock {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

h1 {
    font-size: 150px;
    text-transform: uppercase;
    margin-top: calc((100vh - 535px)/2);
    margin-left: 10vw;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 150px;
}

.brochur {
    margin-left: 10vw;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10vw;
    overflow: visible;
}

.notify {
    width: 150px;
    height: 50px;
    background-color: black;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: large;
    letter-spacing: 1px;
    transition: 0.5s;
}

.download_brochure {
    margin-left: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: large;
    text-transform: capitalize;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
}